/* ---------------header------------ */
body{
    width: 100%;
}
header{
    width: 1920px;
    
    
height: 1322px;
left: 0px;
top: 0px;

background: rgba(255, 144, 14, 0.1);
}
.navbar{
    display: flex;
    gap: 40px;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 228px;
    margin-right: 240px;
    padding-top: 50px;
}
.highlight{
    text-align: center;
    
    
}
.highlight h1{
    width: 862px;
height: 225px;
    font-weight: 700;
font-size: 64px;
line-height: 75px;
text-align: center;
margin-left: 530px;

}
.highlight p{
    width: 868px;
height: 52px;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #727272;
text-align: center;
margin-left: 526px;
position: relative;
top: -40px;
}
.btn{
    
    width: 180px;
    height: 64px;
    margin-left: 870px;
    background: #FF900E;
border-radius: 8px;
text-align: center;
padding-top: 5px;
color: #FFFFFF;
}
.banner{
    width:1440px ;
    height: 700px;
    margin-top:50px ;
    margin-left:240PX ;
    margin-bottom: 45px;
}

/* -----------------main--------------- */

.photo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.album{
    display: flex;
    margin: 51px 301px;
    gap: 73px;
}
.album-right{
    margin-top: 200px;
    width: 537px;
   
}
.album-right p{
    color: #727272;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
width: 537px;
height: 78px 

}
.album-right h2{
    width: 468px;
    height: 106px;
    font-weight: 700;
font-size: 45px;
line-height: 53px;
}
.photo img{
    width: 342px;
    height: 342px;

}
.box{
    background: #FFFFFF;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
border-radius: 8px;
width: 586px;
height: 171px;
padding: 10px;
margin: 10px;
}
.btn-two{
    
    width: 342px;
    height: 200px;
    background: #FF900E;
border-radius: 8px;
text-align: center;

color: #FFFFFF;
margin-left: -60px;
margin-top: -150px;
}
.btn-two h2{
    font-weight: 700;
font-size: 65px;
line-height: 70px;
padding-top: 50px;


color: #FFFFFF;
}
.btn-two h3{
    font-weight: 500;
font-size: 25px;
line-height: 40px;
position: relative;
top: -50px;

color: #FFFFFF;
}
.bm{
    width: 708px;
    height: 982px;
    background:url(../images/architect.png);
    
}
.btn-three{
    background: #FF900E;
border-radius: 8px;
text-align: center;
padding-top: 30px;
color: #FFFFFF;
width: 180px;
height: 64px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;

    
    
}
.small-line{
    display: flex;
    gap: 10px;
    
}
.or{
    width: 5px;
height: 106px;
background: #FF900E;
margin-top: 30px;
}
.second-part-left{
    height: 982px;

    

}
.second-part{
    display: flex;
    margin-left: 240px;
    margin-right: 240px;
    gap: 146px;
}
.second-part h1{
    width: 370px;
height: 106px;
left: 266px;
font-weight: 700;
font-size: 45px;
line-height: 53px;


color: #131313;
}
.second-part p{
    width: 586px;
height: 78px;
left: 240px;
font-weight: 400;
font-size: 16px;
line-height: 26px;


color: #727272;
}



.facts{
    margin-left: 240px;
}
.facts H1{
    font-weight: 700;
font-size: 45px;
line-height: 53px;


color: #131313;
margin-top: 45PX;


}
.facts p{
    color: #727272;
    font-weight: 400;
font-size: 16px;
line-height: 26px;
width: 542px



}
.fbox{
    width: 241.83px;
    /* height: 241.83px; */


border: 1px solid #FF900E;
border-radius: 8px;


text-align: center ;
padding-top: 25px;
transition: 5s ,transform 2s;
}
.fbox:hover{
    transform: rotate(90deg);
}
.facts-line{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 165px;
   margin-left: 250px;
    
    
    margin-top: 100px;
    
}
.sponsor{
    text-align: center;
    margin-left: 370px;
    padding-top: 80px;
    margin-bottom: 80px;
    

}
.sponsor h1{
    font-weight: 700;
font-size: 45px;
line-height: 53px;


color: #131313;
}
.sponsor p{
    font-weight: 400;
font-size: 16px;
line-height: 26px;


color: #727272;

}
.sponsors{
    display: flex;
    gap: 155px;
    margin-left: 240px;
    padding-bottom: 80px;
    
    
    
    
}


.message{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    
    
}
.unique{
    text-align: center;
    background-color: orange;
    margin-left: 350px;
    margin-right: 230px;
    padding: 100px;
    width: 1000px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #FFFFFF;
}
.H{
    background-color: yellowgreen;
}


/* ----------footer------------ */
.footer{
    background: #FFF4E7;
border-radius: 8px;
margin-left: 240px;
text-align: center;
height: 100px;
width: 1440px;
padding-top: 30px;
margin-bottom: 50px;
}
.footer h3{
    font-weight: 400;
font-size: 20px;
line-height: 23px;




color: #424242;

}

.span3{
    color: #FF900E;
}
.span1{
    color: #727272;
}